.character-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .character-card {
    width: 300px;
    margin: 16px;
    cursor: pointer;
  }

  .character-avatar {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    overflow: hidden;
  }

  .character-avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }